@use './mixins' as mixin;

.flex-container {
    @include mixin.flex();
    
}

.logo {
    height: 2.8rem;
    width: 11.8rem;
}

.img-people {
    width: 100%;
    max-height: 16rem;
}

.img-container {
    @include mixin.flex();
    gap: 6.4rem;
    margin: 4.8rem 0rem;
}

.btn-container {
    @include mixin.flex();
    gap: 1.5rem;
}

.text-container {
    .text-preset-display {
        text-align: center;
    }

    .text-preset-body {
        text-align: center;
        margin: 2.4rem 0rem;
    }
}