@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/red-hat.display-black.ttf);
    font-weight: ;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/red-hat.display-medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* Color Vairables */

$cyan-600: #4d96a9;
$cyan-300: #8fe3f9;
$purple-600: #855fb1;
$purple-300: #d9b8ff;
$slate-900: #28283d;
$slate-600: #87879d;
$late-300: #d1d1df;
$primary-white: #fafafa;

/* Fonts */

$red-hat-display-black: "Red Hat Display Black", sans-serif;
$red-hat-display-medium: "Red Hat Display Medium", sans-serif;