@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/red-hat.display-black.ttf);

    font-weight: 900;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/red-hat.display-medium.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Color Vairables */


$cyan-600: #4d96a9;
$cyan-300: #8fe3f9;
$purple-600: #855fb1;
$purple-300: #d9b8ff;
$slate-900: #28283d;
$slate-600: #87879d;
$slate-300: #d1d1df;
$primary-white: #fafafa;

/* Fonts */

$red-hat-display-black: "Red Hat Display", sans-serif;

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.2rem;
}

body {
    font-family: $red-hat-display-black;
}

.text{
    color: $slate-600;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 1.8rem;
}

h1, h2, h3, p {
    text-align: center;
}

.text-preset-1 {
    color: $slate-900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 6.4rem;
    font-weight: 900;
}

.text-preset-btn {
    color: white;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 900;
}

.text-preset-2 {
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 900;
}

.text-preset-4 {
    color: $slate-900;
    letter-spacing: 0px;
    line-height: 110%;
    font-size: 1.8rem;
}

.text-preset-3 {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    font-size: 1.6rem;
    color: $cyan-600;
    line-height: 110%;
    text-transform: uppercase;
    font-weight: 900;
}

.flex-container {
    max-width: 43.3rem;
}

.btn {
    min-width: 19.3rem;
    min-height: 5.6rem;
    border: none;
    border-radius: 8rem;
    background-color: $purple-600;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.btn-container {
    display: flex;
    gap: 1.7rem;

}

.btn-download {
    background-color: $cyan-600;
    color: $primary-white;
    line-height: 110%;
    letter-spacing: 0.4rem;
}

.btn-overview{
    min-width: 16.1rem;
    color: $primary-white;
}

.grid-img {
    margin: 3.2rem 2.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.hero-img {
    border-radius: 2rem;
}

img { 
    max-width: 100%;
    height: auto;
    display: block;
}